main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-auto-flow: column;
    gap: 12px;
    margin-top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
    padding: 8px 48px;
    background-color: var(--quaternary-color);
}

section {
    text-align: center;
    height: min-content;
}

.section-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 32px 0;
}

.section-time__item {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 8px;
}
.section-time__item__title {
    font-size: 1rem;
}

.section-time__item__time {
    font-size: 1.5rem;
}

.section-time__item__timezone {
    font-size: 1rem;
}

.section-schedule {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 8px;
}

.section-schedule__schedule {
    font-size: 1rem;
}

.section-schedule__changes {
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.section-schedule__changes > button {
    flex-grow: 1;
}

.section-calendar {
    grid-row: 1 / 3;
}

.section-calendar__header {
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: center;
}

.section-calendar .calendar {
    margin-top: 8px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.section-calendar__header__arrow {
    cursor: pointer;
}
