@import url("base.css");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

button.btn-primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: all 0.3s ease;
}

button.btn-primary:hover {
    background-color: var(--secondary-color);
}

button.btn-secondary {
    background-color: var(--gray-color-2);
    color: var(--black-color);
    transition: all 0.3s ease;
}

button.btn-secondary:hover {
    background-color: var(--gray-color-2);
}

input {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    /* font-weight: 700; */
    transition: all 0.3s ease;
}

input:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
}

select {
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    /* font-weight: 700; */
    transition: all 0.3s ease;
}

select:focus {
    box-shadow: 0 0 0 2px var(--primary-color);
}

h1 {
    color: var(--black-color-2);
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid var(--gray-color);
    transition: all 0.3s ease;
}

.hidden {
    display: none;
}

/* PARTIALS */

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-left {
    display: flex;
    gap: 128px;
    align-items: center;
    padding: 10px 40px;
}

.navbar ul {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navbar a {
    color: var(--white-color);
}

.navbar__home {
    font-size: 1.5rem;
}

.navbar__logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.1s ease;
    background-color: var(--secondary-color);
    padding-left: 26px;
    border-bottom-left-radius: 50%;
    font-size: 1rem;
}

.navbar__logout:hover {
    scale: 1.05;
}

.navbar__logout i {
    margin: 0 10px;
}

/* calendar */

.calendar {
    background-color: var(--gray-color);
    border-radius: 5px;
    font-size: 0.8rem;
}

.calendar table {
    width: 100%;
    /* border-collapse: collapse; */
}

.calendar table td {
    padding: 2px 0;
}

.calendar table thead {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.calendar tbody .hour {
    background-color: var(--white-color);
}

.calendar tbody .cell {
    background-color: var(--gray-color-4);
    cursor: pointer;
}

.calendar tbody .cell:hover {
    background-color: var(--green-color);
    opacity: 0.5;
}

.calendar tbody .cell.selected {
    background-color: var(--green-color);
}

.loading {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.loading.bellow-navbar {
    top: var(--navbar-height);
}

.loading-backdrop {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--gray-color-3);
    opacity: 0.5;
}

.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.loading-animation > span {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    animation: loader-animation 0.5s ease-in-out infinite alternate;
}

.loading-animation > span:nth-child(2) {
    animation-delay: 0.1s;
}

@keyframes loader-animation {
    to {
        opacity: 1;
        transform: translate3d(0, -1rem, 0);
    }
}

.icon-info {
    position: relative;
    height: 18px;
    width: 18px;
    cursor: pointer;
    /* transition: all 0.3s ease; */
}

.icon-info img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}
