{{> navbar }}
{{> loading }}
<main>
    <section class="section-payment">
        <h1>Billing Info</h1>
        <div class="area-calculation">
            <div class="row">
                <span class="step">
                    <span class="fraction">
                        <span class="numerator">
                            <span class="value">2.5</span>
                            <span class="times"></span>
                            <span class="value">
                                {{!-- TODO: set titles (tooltips) --}}
                                <input type="number" id="minutesWaiting" placeholder="Minutes waiting">
                            </span>
                            <span class="plus"></span>
                            <span class="value">
                                <input type="number" id="usdPerHour" placeholder="Payment per hour" value="7.5">
                            </span>
                            <span class="times"></span>
                            <span class="value">
                                <input type="number" id="minutesInSession" placeholder="Minutes in session">
                            </span>
                        </span>
                        <hr>
                        <span class="denominator">
                            <span class="value">60</span>
                        </span>
                    </span>
                </span>
                <span class="equals"></span>
                <span class="step">
                    <span class="value">
                        <input type="number" class="payment-result1" readonly>
                        USD
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="step">
                    <span class="value">
                        <input type="number" readonly class="payment-result1">
                    </span>
                    <span class="plus"></span>
                    <span class="value">
                        <input type="number" readonly placeholder="Bonus" id="bonus">
                    </span>
                </span>
                <span class="equals"></span>
                <span class="step">
                    <span class="value">
                        <input type="number" class="payment-result2" readonly>
                        USD
                    </span>
                </span>
            </div>
            <div class="row">
                <span class="step">
                    <span class="value">
                        <input type="number" readonly class="payment-result2">
                    </span>
                    <span class="times"></span>
                    <span class="value">
                        <input type="number" id="usd" placeholder="Dollar price" value="3800">
                    </span>
                </span>
                <span class="equals"></span>
                <span class="step">
                    <span class="value">
                        <input type="number" class="payment-result3 result" readonly>
                        COP
                    </span>
                </span>
            </div>
        </div>
    </section>
    <section class="section-time">
        <h1>Time worked</h1>
        <div class="area-calculation">
            <div class="row">
                <span class="step">
                    <span class="fraction">
                        <span class="numerator">
                            <span class="value">
                                <input type="number" id="onlineHours" placeholder="Online hours">
                            </span>
                        </span>
                        <hr>
                        <span class="denominator">
                            <span class="value">
                                <input type="number" id="scheduledHours" placeholder="Scheduled hours">
                            </span>
                        </span>
                    </span>
                </span>
                <span class="equals"></span>
                <span class="step">
                    <span class="value">
                        <input type="number" class="time-result" readonly>
                        %
                    </span>
                </span>
            </div>
        </div>
    </section>
    <div class="section-buttons">
        <button class="btn-secondary" id="reset">Reset</button>
        <button class="btn-primary" id="refresh">Update</button>
    </div>
</main>
<script type="module" src="/js/billing.js"></script>