{{> navbar }}

<main>
    <div class="sections-left">
        <section class="section-user">
            <span class="section-user__message">
                <div>Welcome,</div>
                <div><span class="">{{ user }}</span>!</div>
            </span>
        </section>
        <section class="section-time">
            <div class="section-time__item time-local">
                <div class="section-time__item__title">Local time</div>
                <div class="section-time__item__time">...</div>
                <div class="section-time__item__timezone"></div>
            </div>
            <div class="section-time__item time-eastern">
                <div class="section-time__item__title">Eastern time</div>
                <div class="section-time__item__time">...</div>
                <div class="section-time__item__timezone"></div>
            </div>
            <div class="section-time__item time-left">
                <div class="section-time__item__title">Time left</div>
                <div class="section-time__item__time">...</div>
            </div>
        </section>
        <section class="section-schedule">
            <hr>
            <div class="section-schedule__changes">
                <button class="section-schedule__cancel btn-secondary">Discard changes</button>
                <button class="section-schedule__save btn-primary">Save changes</button>
            </div>
            <button class="section-schedule__schedule btn-primary">Save and schedule selected week now</button>
        </section>
    </div>
    <div class="sections-right">

        <section class="section-calendar">
            <div class="section-calendar__header">
                <i class="section-calendar__header__arrow arrow-left fas fa-chevron-left"></i>
                <div class="section-calendar__header__title">Current week</div>
                <i class="section-calendar__header__arrow arrow-right fas fa-chevron-right"></i>
            </div>
            {{> calendar }}
        </section>
    </div>
</main>

<script type="module" src="/js/home.js"></script>
