<main>
    <div class="container">
        <h1>Bienvenido</h1>

        <form>
            <input type="text" id="username" placeholder="Usuario">
            <input type="password" id="password" placeholder="Contraseña">
            <button class="btn-primary" type="submit" id="login">Guardar datos</button>
        </form>
    </div>
</main>

<script type="module" src="/js/login.js"></script>