{{> loading }}
<main>
    <div class="container">
        <h1>Welcome</h1>

        <form>
            <input type="text" id="username" placeholder="Username" />
            <input type="password" id="password" placeholder="Password" />
            <div id="validate-credentials" class="hidden">Validate Tutor.com credentials</div>
            <button class="btn-primary" id="login">Save data</button>
        </form>
    </div>
</main>

<script type="module" src="/js/login.js"></script>
