<div class="loading hidden">
    <div class="loading-backdrop">
        <div class="loading-animation">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>