<nav class="navbar">
    <div class="navbar-left">
        <a class="navbar__home" href="/">Tutor Manager</a>
        <ul>
            <li class="navbar__billing"><a href="/billing">Información de pago</a></li>
            <li class="navbar__rating"><a href="/rating">Rating</a></li>
            <li class="navbar__preferences"><a href="/preferences">Preferencias</a></li>
        </ul>
    </div>
    <div class="navbar__logout">Logout <i class="fas fa-sign-out-alt"></i></div>
</nav>

<script type="module" src="/js/navbar.js"></script>