<nav class="navbar">
    <ul>
        <li class="navbar__home"><a href="/">Tutor Manager</a></li>
    </ul>
    <div class="navbar__logout">Logout <i class="fas fa-sign-out-alt"></i></div>
</nav>

<script type="module" src="/js/navbar.js"></script>